.cardList{
    margin-top: 150px;
    display: inline-block;
    width: 70%;
    margin: 0;
    padding-top: 10px;
}

.card{
    height: 200px;
    max-width: 300px;
    margin: 20px 22px;
}

.overlayDiv{
    position: absolute;
    top: 30%;
}

.cardFont{
    color: rgb(255, 248, 248);
    text-shadow: 3px 3px #333333;
    font-size: 35px;
    padding-left: 10px;
}

.gridItem{
    justify-content: center;
}

.cardH1 {
    margin-top: 20px;
    padding-top: 50px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    text-align: left;
}


.cardsCenter{
    text-align: center;
}