body,html{
  margin:0;
  padding:0;
  width:100%;
  background-color: #fffde2;
}

.mainContainer{
  display: flex;
  flex-direction: column;
  background-image:url("./img/mainbackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  min-height:100%;
  position:relative;
  width: 100%;
}

.spacer{
  border: 6px dashed;
  border-color: #fd745c;
  border-bottom: none;
}

.scroll-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
}
.scroll-container .indicator {
  height: 100%;
  background: #8b0000;
}

.scroll-to-top {
  position: fixed;
  bottom: 12px;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #8b0000;
  color: #fff;
  z-index: 1;
}
.scroll-to-top .icon {
  margin-top: 10px;
  animation: scrollTop 0.5s alternate ease infinite;
}
@keyframes scrollTop {
  from {
      transform: translateY(2px);
  }
  to {
      transform: translateY(-1px);
  }
}