body,html{
  margin:0;
  padding:0;
  width:100%;
  background-color: #fffde2;
}

.mainContainer{
  display: flex;
  flex-direction: column;
  background-image:url("./img/mainbackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  min-height:100%;
  position:relative;
}

.spacer{
  border: 6px dashed;
  border-color: #fd745c;
  border-bottom: none;
}